services:
  - type: web
    name: auto-recheck
    env: node
    region: singapore
    plan: free
    buildCommand: |
      npm install
      npm run build:web
    startCommand: npm run start:web
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: true
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/chromium
