登入資訊：
    公司代碼：TNLMG
    登入帳號：請填入您的帳號
    密碼：請填入您的密碼

補卡日期：
    2025/06/04	上班未打卡		
    2025/06/03	上班未打卡 / 下班未打卡	
    2025/06/02	下班未打卡

# 💡 設定說明：
# 1. 請將「登入帳號」改成您的實際帳號（工號）
# 2. 請將「密碼」改成您的實際密碼
# 3. 修改補卡日期，建議直接將「打卡異常」的查詢結果複製貼上即可
# 4. 設定完成後，儲存檔案並執行 run.command 檔案即可